body {
    background-image: linear-gradient(to right, #ffb74d, #1CB5E0, #ffb74d);
}

.container {
    /* margin-left: 0%; */
    /* border: 3px solid red; */
    width: 100%;
    overflow: hidden;
}

#navbar {
    /* background-color: rgb(23, 120, 242); */
    background-image: linear-gradient(to right, #1CB5E0, #ffb74d, #1CB5E0);
    /* text-align: center; */
    width: 100%;
    /* border-radius: 10px; */
    /* border: 5px white solid; */
    margin-left: -5px;
    top: 0px;
    position: relative;
}

.card {
    position: relative;
    width: 50px;
    height: 50px;
    /* border: 3px solid greenyellow; */
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 50%;
}

#logo {
    width: 1600px;
    position: relative;
    height: 25px;
    left: 50px;
}

#button {
    width: 137px;
    height: 46px;
    border-radius: 0px;
    position: relative;
    margin-right: 20px;
    color: #fff;
    background-image: linear-gradient(#ffb74d, #ffb74d);
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 31px;
    font-weight: bold;
    cursor: pointer;
}

#button:hover {
    background-image: linear-gradient(to right, #000046, #1CB5E0);
}

img,
#button {
    /* clip-path: ellipse(); */
    box-shadow: 0 4px 8px 0;
    color: yellow;
    transition: 0.3s color;
}

#line1 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    width: 50%;
    cursor: pointer;
}

#line1:hover {
    width: 80%;
    color: #ff7200;
    font-weight: bold;
}

#line2 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

#line2:hover {
    width: 80%;
    color: #ff7200;
    font-weight: bold;
}

#line3 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

#line3:hover {
    width: 80%;
    color: #ff7200;
    font-weight: bold;
}

#line4 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

#line4:hover {
    width: 80%;
    color: #ff7200;
    font-weight: bold;
}